.crystal{
  background: white;
  min-height: 60vh;
  width: 60vw;
  background: linear-gradient(to right bottom,rgba(255,255,255,0.8),rgba(255,255,255,0.3));
  border-radius: 2rem;
  backdrop-filter: blur(1rem);
  display: grid;
  grid-template-rows: 1fr 3fr;
  
}